body {
  margin: 0;
}

main {
  display: grid;
  min-height: 100vh;
  place-items: center;
}

canvas {
  background-color: white;
  display: block;
  border-radius: 14px;
  box-shadow: 0 0 40px 10px rgba(0, 0, 255, 0.3);
}